@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Đăng ký - HA Shop</title>
    <link rel="stylesheet" href="~/lib/adminlte/css/adminlte.css" />
</head>
<body class="register-page bg-body-secondary">
    <div class="register-box" style="width: 450px; margin: 7% auto;">
        <div class="card card-outline card-primary shadow">
            <div class="card-header text-center">
                <h1 class="h1"><b>HA</b> Shop</h1>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Đăng ký thành viên mới</p>

                <form action="~/Account/Register" method="post">
                    @Html.AntiForgeryToken()

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">@Html.ValidationMessage("Error")</div>
                    }

                    <div class="mb-3">
                        <input type="text" name="fullName" class="form-control" placeholder="Họ và tên" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Email (Tài khoản)" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Mật khẩu" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" name="confirmPassword" class="form-control" placeholder="Xác nhận mật khẩu" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Đăng ký ngay</button>
                </form>

                <div class="mt-3 text-center">
                    <a href="~/Account/Login">Tôi đã có tài khoản</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>